/*---------------------------------------------------------------------------
  ember-elsewhere
---------------------------------------------------------------------------*/
.elsewhere-modal-background {
  background-color: black;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
}

.elsewhere-modal-container {
  width: 100vw;
  height: 105vh;
  //position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.elsewhere-modal-dialog {
  border-radius: 5px;
  position: relative;
  z-index: 1500;

  background: url(/images/backgrounds/level-info-background.png);
  width: 362px;
  padding: 17px 20px 20px 20px;
  border: 0;
  background-size: 100% 100%;

  h3 {
    color: #e8d957;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0px 0, black 0px -2px 0, black -2px 0px 0, black 0px 2px 0;
    margin: 5px 0 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-variant: small-caps;
    font-size: 24.5px;
  }

  img.hr {
    width: 90%;
    margin: 0 15px;
    height: 4px;
  }

  button {
    min-width: 100px;
    min-height: 40px;
    margin: 10px auto 0 auto;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-variant: small-caps;
    white-space: nowrap;
    &.marginRight10 {
      margin-right: 10px;
    }
  }

  .prompt {
    margin: 0 0 10px 10px;
  }

  .confirmfooter {
    display: block;
    text-align: center;
  }
}




.ember-modal-wrapper .ember-modal-dialog {
  z-index: 2000;
  &.eq-dialog {
    background: url(/images/backgrounds/level-info-background.png);
    width: 362px;
    padding: 17px 20px 20px 20px;
    border: 0;
    background-size: 100% 100%;

    h3 {
      color: #e8d957;
      text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0px 0, black 0px -2px 0, black -2px 0px 0, black 0px 2px 0;
      margin: 0 0 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-variant: small-caps;
      font-size: 24.5px;
    }

  }
}

.ember-modal-overlay.translucent {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1120;
}




// From ember-promise-modals
.epm-scrolling-disabled {
  overflow: hidden;
}

.epm-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(61, 65, 77, 0.8);
}

.epm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// ember-promise-modals to here

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #22454f url(/images/backgrounds/portal-background.png);
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background: none repeat scroll 0 0 transparent;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h2 {
  font-size: 2.2em;
}

h3, .h3 {
  font-size: 20px;
}

p {
  margin: 0 0 10px;
}
a {
  color: #efefef;
  text-decoration: none;

}
.header {
  margin: 20px;
}

.absolute {
  position: absolute;
}

.hidden {
  visibility: hidden;
}
.nodisplay {
  display: none;
}
.nowrap {
  white-space: nowrap;
}
.center {
  display:block;
  margin:auto;
}
.table {
  display:table;
}
.emberistas {
  font-size: 3em;
}
.title-text {
  color: #febc44;
  font-size: 38px;
  font-variant: small-caps;
  text-shadow: black 4px 4px 0, black -4px -4px 0, black 4px -4px 0, black -4px 4px 0, black 4px 0px 0, black 0px -4px 0, black -4px 0px 0, black 0px 4px 0;
}

.game {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  color: #efefef;
  .game-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .hexwrapper {
    height: 100vh;
    background: rgba(0,0,0,.7);
    //box-shadow: 0px 0px 25px 25px rgba(0,0,0, 1);
  }
  .gameboard {
    //z-index: 100;
  }
}

.landing {
  color: #fff;
  p.intro {
    margin: 40px;
    display: block;
    font-size: 2em;
    text-align: center;
  }
  img.logo {
    margin: 150px auto;
    display: block;
    width: 75vw;
  }
  a {
    color: #ff9f00;
  }
}


#gameContainer {
  margin: 0;
  padding: 0;
}
.header {
  margin: 20px;
  height: 28px;
  img.logo {
    width: 340px;
    margin-top: -26px;
  }
}
.board {
  height: 100vh;
  width: 100vw;
}
.btn {
  cursor: pointer;
  &:focus {
    outline: none;
  }

}
.big-font {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.game-controls {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index: 2;
  .btn {
    width: 40px;
    height: 40px;
    background: url(/images/menu_icons_empty.png) no-repeat;
    position: relative;
    background-size: cover;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-box-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 4px black;
    border: 0;
    border-radius: 6px;
    filter: none;
    margin-left: 10px;

    &:hover {
      -webkit-box-shadow: 0 0 6px #bbf;
      box-shadow: 0 0 6px #bbf;
    }
    &:focus {
      outline: none;
    }
    //&:not(:first-child) {
    //  margin-left: 30px;
    //}

    &.inventory {
      background-position: -40px 0px
    }
    &.trophy {
      background-position: -120px 0px;
    }
    &.gems {
      background-position: -240px 0px;
    }
    &.instructions {
      background-position: -160px 0px;
    }
    &.settings {
      background-position: -200px 0px;
    }
    &.empty {
      background-position: -280px 0px;
      &.volume {
        color: white;
        font-size: 30px;
        margin-left: 30px;
      }
    }
  }
  .btn.equip {
    background: url(/images/premium-menu-icon.png) no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    transform: scale(1.31) translateY(-3px) translateX(-3px);
    box-shadow: initial;
    filter: drop-shadow(2px 2px 4px black);
    outline: none;
    &:hover {
      filter: drop-shadow(0 0 2px #bbf);
    }
  }
  .tooltip, .tooltip.ember-tooltip {
    background-color: #1E5AFF;
    color: #fff;
    font-size: 1.1em;
    z-index: 150;
    .tooltip-arrow {
      display: none;
    }
  }
  .gem-wrapper {
    display: inline-block;
    min-width: 210px;
    .gems-count {
      font-size: 24px;
      font-weight: 700;
      margin: 0 15px 0 5px;
      top: -8px;
      position: relative;
      color: white;
      text-shadow: 0px 2px 1px black, 0px -2px 1px black, -2px 0px 1px black, 2px 0px 1px black;
      height: 32px;
      line-height: 32px;
      font-family: "Open Sans Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-variant: small-caps;
    }
    .gem {
      &.gem-30 {
        width: 30px;
        height: 30px;
      }

      display: inline-block;
      background: transparent url(/images/gem.png) no-repeat center;
      background-size: contain;
      width: 80px;
      height: 80px;
      margin: 0 2px;
    }
  }

}

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  &.styled {
    min-width: 130px;
    min-height: 45px;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    &:hover {
      color: #ffd94a;
    }

  }
  &.btn-primary, &.btn-blue {
    background: url(/images/common/button-background-primary-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:hover {
      background: url(/images/common/button-background-primary-pressed.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &.btn-green {
    background: url(/images/common/button-background-success-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:hover {
      background: url(/images/common/button-background-success-pressed.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &.btn-green {
    background: url(/images/common/button-background-success-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &.disabled {
      background: url(/images/common/button-background-success-inactive.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &:hover {
      background: url(/images/common/button-background-success-pressed.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &.btn-warning, &.btn-tan {
    background: url(/images/common/button-background-warning-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:hover {
      background: url(/images/common/button-background-warning-pressed.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &.btn-danger, &.btn-red {
    background: url(/images/common/button-background-danger-active.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &:hover {
      background: url(/images/common/button-background-danger-pressed.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  &.btn-warning.disabled, &.btn-primary.disabled, &.btn-green.disabled, &.disabled {
    background: url(/images/common/button-background-disabled.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
button:focus {
  outline: none;
}
button {
  padding: 5px;
}

.game .epm-backdrop {
  background-color: #0a2430bd;
  z-index: 5;
}
.epm-modal-container {
  .epm-modal {
    z-index: 1111;
  }
}
.epm-modal-container {
  &.config, &.instructions, &.caches {
    .epm-modal {
      top: 35%;
      transform: translate(-50%, -50%);
    }
  }
  &.caches .epm-modal {
      top: 410px;
  }
  &.inventory {
    position: relative;
    background-color: none;
    background-clip: padding-box;
    outline: none;
    .epm-modal {
      top: 35%;
      transform: translate(-50%, -50%);
    }
  }
  &.victory {
    position: relative;
    background-color: none;
    background-clip: padding-box;
    outline: none;
    .epm-modal {
      top: 245px;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-height: 1050px) {
  .epm-modal-container.inventory .epm-modal {
    top: 324px;
  }
  .epm-modal-container.config .epm-modal,.epm-modal-container.instructions .epm-modal {
    top: 305px;
  }
  .epm-modal-container.caches .epm-modal {
    top: 360px;
  }
}
@media only screen and (max-width: 1300px) {
  .epm-modal-container.inventory .epm-modal {
    top: 324px;
  }
  .epm-modal-container.config .epm-modal,.epm-modal-container.instructions .epm-modal {
    top: 305px;
  }
  .epm-modal-container.caches .epm-modal {
    top: 360px;
  }
  .inventoryDialog {
    background-image: url("/images/items-background-narrow.png");
    width: 966px;
    h2.title {
      display: none;
    }

    .player-gems {
      top: 81px;
      left: 275px;
      .gems-count {

      }
    }

    .close-btn-x {
      top: 86px;
      left: 384px;
      &:hover {
        color: #ef0;
      }

    }

    .inventory-list {
      width: 426px;
      left: 160px;
      height: 447px;
    }
    .left-nav {
      left: -31px;
    }
    .item-title {
      position: absolute;
      width: 206px;
      height: 50px;
      left: 679px;
      top: 118px;
      z-index: 2;
      text-align: center;
      vertical-align: middle;
    }
    .item-details-body {
      width: 325px;
      position: absolute;
      top: 200px;
      left: 636px;
      height: 410px;
    }
  }
}
@media only screen and (min-width: 1301px) {
  .inventoryDialog {
    background-image: url("/images/items-background.png");
    width: 1227px;
    h2.title {
      position: absolute;
      top: 60px;
      left: 220px;
    }

    .player-gems {
      top: 86px;
      left: 500px;
      .gems-count {
      }

    }

    .close-btn-x {
      top: 92px;
      left: 618px;
      &:hover {
        color: #ef0;
      }

    }

    .inventory-list {
      width: 653px;
      left: 180px;
      height: 481px;
    }
    .left-nav {
      left: -24px;
    }
    .item-title {
      position: absolute;
      width: 228px;
      height: 50px;
      left: 921px;
      top: 126px;
      z-index: 2;
    }
  }
  .item-title {
    position: absolute;
    width: 206px;
    height: 50px;
    left: 679px;
    top: 118px;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
  }

  .item-details-body {
    width: 325px;
    position: absolute;
    top: 200px;
    left: 893px;
    height: 440px;
  }

}

//.popover {
//  border-style: solid;
//  border-image: url(/images/level/popover_border_background.png) 16 12 fill stretch;
//  border-width: 16px 12px;

  //position: absolute;
  //top: 0;
  //left: 0;
  //z-index: 1010;
  //display: none;
  //max-width: 276px;
  //padding: 1px;
  //text-align: left;
  //background-color: #fff;
  //background-clip: padding-box;
  //border: 1px solid #ccc;
  //border: 1px solid rgba(0,0,0,0.2);
  //border-radius: 6px;
  //-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  //box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  //white-space: normal;
//}

.chestDialog {
  background-image: url("/images/backgrounds/popover_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 500px;
  color: #000;
  img {
    width: 200px;
    position: absolute;
    top: -35px;
    right: -60px;
    z-index: 4;
  }
  .chest-body {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 440px;
    height: 290px;
    display: inline-block;
  }
  h1 {
  }
  .congrats {
    padding: 50px 0 30px;
    font-size: 1.3em;
  }
  .coords {
    font-size: 1.3em;
    font-weight: 700;
    margin: auto 0;
    text-align: center;
  }
  .chest-footer {
    position: absolute;
    bottom: 0;
    left: 182px;
    bottom: 20px;
  }
}

@mixin scrolling-pane {
  height: 100%;
  .scroll {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #000;
      width: 16px;
      background: #000;
      border: 3px solid #614c3a;
      border-radius: 5px;
      transition: .2s;
    }

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bd8331;
      border: 3px solid #000;
      border-radius: 10px;
    }
  }
}

.cachesDialog {

  .caches-body {
    //background-color: blue;
    position: absolute;
    top: 235px;
    left: 75px;
    height: 350px;
    width: 842px;
    button {
      margin: 2px;
    }

    overflow: hidden;

    .pane {
      @include scrolling-pane;

      .wrapper {
        position: relative;
        padding: 10px 48px 5px 0;
        color: #000;

        .cache {
          background-color: lightgrey;
          border: 1px solid #999;
          min-height: 70px;
          box-shadow: 3px 3px 6px #33333333, -3px 3px 6px #33333333;

          .toggle {
            display: none;
          }
          .toggle:checked {
            & + .title + .content {
              max-height: 500px;
            }
            & + .title:before {
              transform: rotate(90deg) !important;
            }
          }

          .title {
            display: block;
            cursor: pointer;
          }

          .content {
            clear: both;
            max-height: 0;
            overflow: hidden;
            p {
              margin: 0;
              padding: 0.5em 1em 1em;
              font-size: 0.9em;
              line-height: 1.5;
            }
          }
          .option {
            position: relative;
            margin-bottom: 1em;
          }

          .title,
          .content {
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: all 0.75s;
          }

          .title {
            padding: 15px;
            display: block;
            font-weight: bold;
          }
          .title:after, .title:before {
            content: '';
            position: absolute;
            right: 1.25em;
            top: 1.7em;
            width: 2px;
            height: 0.75em;
            background-color: #000;
            transition: all 0.5s;
          }
          .title:after {
            transform: rotate(90deg);
          }

          span.chest, span.chest-open {
            float: left;
            display:inline-block;
            width: 40px;
            height: 40px;
            background: url(/images/chest_sprite.png) no-repeat;
            background-size: cover;
          }
          span.smiley {
            display:inline-block;
            width: 20px;
            height: 20px;
            background: url(/images/smiley.png) no-repeat;
            background-size: cover;
            position: absolute;
            top: 28px;
            left: 11px;
          }
          span.chest {
            background-position: -40px 0px
          }
          .gccode {
            float: left;
            display: inline-block;
            color: #5e4126;
            font-size: 22px;
            margin: 11px;
          }
          .name {
            float: left;
            display: inline-block;
            color: #9c611e;
            font-size: 22px;
            margin-top: 11px;
          }
          .more {
            float: right;
            margin: 11px 20px 0 0;
            font-size: 12px;
            color: #5e4126;
          }


        }
      }
    }
  }

}


.inventoryDialog {
  position: relative;
  //background-image: url("/images/items-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 726px;

  .player-gems {
    position: absolute;
    color: #0065ff;
    font-weight: bold;
    font-size: 22px;
    padding: 13px 0 0 4px;
    width: 62px;
    transform: rotate(5deg);

    .gems-count {
      font-size: 25px;
      color: #01405b;
    }

  }

  .close-btn-big {
    min-width: 332px;
    min-height: 40px;
    margin: 10px 0 0 -23px;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-variant: small-caps;
    white-space: nowrap;
    padding: 20px;
  }


  .close-btn-x {
    position: absolute;
    color: #efefef;
    font-weight: bold;
    font-size: 22px;
    padding: 15px;
  }

  .left-nav {
    position: absolute;
    top: 180px;

    .stats-container {
      background: url("/images/flag.png");
      width: 270px;
      height: 376px;
      background-size: cover;
      transform: rotate(-9deg);
      margin-top: -23px;
      margin-left: -48px;

      .stats {
        transform: rotate(4deg);
        padding-top: 64px;
        padding-left: 60px;
        padding-right: 65px;

        .title, .resistance {
          font-weight: 600;
          font-size: 1.2em;
          color: #fecd03;
          margin: 8px 0 0 17px;
        }

        .stat {
          line-height: 20px;
        }
        .label {
          display: inline-block;
        }

        .val {
          float:right;
        }

      }
    }

    .btn {
      display: block;
      background: url("/images/menu-tab.png");
      //background-repeat: no-repeat;
      //background-size:  contain;
      width: 180px;
      height: 80px;
      span {
        font-size: 18px;
        line-height: 50px;
        background: none;
        color: #c3997c;
        font-weight: bold;
        padding: 10px 7px;
      }
      &.active {
        background: url("/images/menu-tab-selected.png");
        width: 197px;
        span {
          color: #fff;
        }
        img {
          margin-left: -17px;
        }
      }
      img {
        vertical-align: middle;
      }
    }
  }

  .item-details-view {
    img.hr {
      width: 70%;
      margin: 0 42px -3px;
    }

    .stat-wrap {
      text-align: center;
      margin-top: 7px;
    }
    .stat-row {
      width: 100%;
      height: 22px;
      font-weight: bold;
      .stat-label {
        display: inline-block;
        text-align: right;
        margin-right: 5px;
        color: #5d4934;
        width: 47%;
      }
      .stat {
        width: 47%;
        margin-left: 5px;
        display: inline-block;
        text-align: left;
        color: #2a261c;
      }
    }

    .addon-row {
      position: relative;
      font-weight: bold;
      .name {
        text-align: center;
        margin: 10px 0 5px 0;
      }
    }

    .item-title {
      h2 {
        font-size: 15px;
        text-align: center;
        vertical-align: middle;
        margin-top: 13px;
        color: #352819;
      }
    }
    .item-title .one-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-details-body {
      color: #555;

      .item-description {
        margin: 20px 0;
        font-size: 1.3em;
      }

      .item-addon {
        margin: 15px 15px 0 25px;
        padding-right: 5px;
      }

      .resistance {
        h3 {
          color: #292319;
          padding-right: 5px;
          margin-bottom: 5px;
        }
      }

      .pane {
        @include scrolling-pane;

        .scroll {
          .item-content-wrapper {
            padding-right: 15px;

            .btn.styled {
              padding: 15px 25px;
            }
            .item-code-example {
              text-align: center;
              padding-top: 15px;
            }
          }

          .item-container {
            height: 142px;
            width: 100%;
            img {
              vertical-align: middle;
            }

            .item-img {
              top: 15px;
            }
            .item-img, .item-shadow {
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: -24px;
              right: 0;
              bottom: 0;
            }
            .item-shadow {
              top: 25px;
              left: -19px;
              -webkit-filter: contrast(0%) brightness(0%);
              -moz-filter: contrast(0%) brightness(0%);
              -o-filter: contrast(0%) brightness(0%);
              filter: contrast(0%) brightness(0%);
              opacity: 0.2;
            }
          }
        }
      }
    }
  }
  .inventory-list {
    position: absolute;
    top: 200px;

    overflow: hidden;
    .pane {
      @include scrolling-pane;

      padding: 26px 51px 26px 26px;
      .item {
        cursor: pointer;
        width: 168px;
        padding: 10px;
        height: 176px;
        float: left;
        background: url("/images/item-box-background.png");
        margin: 4px;
        text-align: center;
        position: relative;

        &.silhouetted {
          cursor: default;
        }
        .glyphicon-lock.bolder {
          font-weight: bolder;
          color: #d3c8af;
        }
        .glyphicon-lock {
          font-size: 60px;
          position: absolute;
          top: 50px;
          color: #958d7b;
          z-index: 1;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          &:before {
            content: "\E033";
          }
        }
        &.selected {
          background: url("/images/item-box-background-selected.png");
        }
        .locked {
          height: 41px;
          color: #163d49;
          line-height: 38px;
          font-size: 16px;
        }
        strong {
          padding: 2px;
          font-size: 15px;
          z-index: 2;
          line-height: 18px;
          color: #161005;
          text-align: center;
          white-space: nowrap;
        }

        img {
          margin: 13px auto 18px;
          height: 90px;
        }

        .item-silhouette {
          opacity: 0.2;
        }
        img.item-silhouette {
          top: 25px;
          width: 110px;
          height: 110px;
        }

        .item-buttons {
          width: 188px;
          display: inline-block;
          margin-left: -10px;
        }
        span.owned {
          width: 87px;
          display: inline-block;
          height: 41px;
          color: #163d49;
          line-height: 38px;
          font-size: 16px;
          text-align: center;
        }

        span.cost {
          width: 87px;
          display: inline-block;
          height: 41px;
          line-height: 38px;
          font-size: 16px;
          color: #163d49;
          font-weight: bold;
          text-align: center;

          img {
            height: 22px;
            margin-right: 8px;
            position: relative;
            top: -2px;
            left: 5px;
            vertical-align: middle;
            float: left;
          }
          span.big-font {
            line-height: 38px;
            font-size: 16px;
            color: #163d49;
          }
        }
        .unlock-button,.equip-button,.unequip-button {
          padding: 6px 9px;
          border: 3px solid #074153;
          background: #0077a8;
          color: white;
          border-radius: 0;
          width: 93px;
          height: 41px;
          font-size: 16px;
          &.confirm {
            padding-left: 6px;
          }
          &.too-expensive {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
        .unlock-button {
          margin-right: 2px;
          float: right;
        }
        .equip-button {
          border: 3px solid #231e18;
          background: #027910;
        }
        .unequip-button {
          border: 3px solid #231e18;
          background: #7b4c02;
        }
      }
    }
  }
} // inventoryDialog

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.victoryDialog {

  .background_wrapper {
    width: 750px;
    background: transparent;
    border: 0px solid transparent;
    border-style: solid;
    border-image: url("/images/victory/victory_modal_border_background.png") 250 0 100 0 fill round;
    border-width: 250px 0 100px 0;
    border-radius: 12px;
  }

  h2.title {
    position: absolute;
    top: 78px;
    left: 350px;
  }

  .close-btn-x {
    display:none;
  }
  .body {
    position: absolute;
    top: 235px;
    left: 75px;
    height: 350px;
    width: 770px;
    button {
      margin: 2px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 930px;
    button {
      position: absolute;
      top: 50px;
      left: 410px;
    }
    button:focus {
      outline: none;
    }
  }
}

.instructionsDialog, .cachesDialog {
  img {
    width: 770px;
  }
}
.configDialog, .instructionsDialog, .cachesDialog {
  position: relative;
  background-image: url("/images/subscribe-background-blank.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 966px;
  height: 726px;

  h2.title {
    position: absolute;
    top: 78px;
    left: 350px;
  }

  .close-btn-x {
    position: absolute;
    color: #efefef;
    top: 117px;
    left: 736px;

    font-weight: bold;
    font-size: 28px;

    &:hover {
      color: #ffd94a;
    }
  }
  .body {
    position: absolute;
    top: 235px;
    left: 75px;
    height: 350px;
    width: 770px;
    button {
      margin: 2px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 130px;
    width: 930px;
    button {
      position: absolute;
      top: 50px;
      left: 410px;
    }
    button:focus {
      outline: none;
    }
  }
}

.codeExampleDialog {
  width: 1116px;
  height: 856px;

  .titlewrap {
    position: relative;
    top: 97px;
    left: 180px;
    width: 651px;
    display: block;
    text-align: center;

    h2.title {
      position: inherit;
      display: inline-block;
      top: 0;
      left: 0;
    }
  }
 .close-btn-x {
    top: 131px;
    left: 861px;
    font-size: 36px;
  }

  .body {
    position: absolute;
    top: 249px;
    left: 40px;

    .example {
      height: 575px;
      width: 1025px;
      background-color: #282c33;
    }


    .code-img {
      height: 515px;
      display:block;
      margin:auto;
    }
  }
}


.victoryDialog {
  margin-top: 0;
  padding-top: 0;
  width: 750px;
  .modal-content {
    position: relative;
    margin-top: -251px;
    //min-height: 410px;
  }
  .modal-header {
    border: none;
    position: absolute;
    left: 188px;
    width: 378px;
    height: 134px;
    top: -155px;
    margin: 0;
    padding: 0;
    #victory-header {
      position: relative;
      -webkit-transition: 0.5s cubic-bezier(0.18, 0.68, 0.75, 2);
      transition: 0.5s cubic-bezier(0.18, 0.68, 0.75, 2);
      z-index: 1;
      width: 100%;
      height: 100%;
      text-align: center;
      background: transparent url(/images/victory/victory_hero.png) no-repeat;
      background-position: center -88px;
      &.out {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }
      #victory-title {
        display: inline-block;
        margin-top: 74px;
        h1 {
          text-transform: uppercase;
          text-align: center;
          color: #fcc935;
          font-size: 80px;
          margin: 0;
          padding: 0;
          text-shadow: black 8px 8px 0, black -8px -8px 0, black 8px -8px 0, black -8px 8px 0, black 8px 0px 0, black 0px -8px 0, black -8px 0px 0, black 0px 8px 0;
        }

      }
    }
  }
  .death {
    .close-btn-x {
      display: none;
    }
    img.death {
      position: relative;
      left: -40px;
      top: 20px;
    }
    .modal-body {
      height: 450px;
      .message-wrapper {
        position: absolute;
        bottom: 67px;
        right: 188px;
          background:  url("/images/backgrounds/popover_border_background.png") no-repeat;
          background-size: contain  ;
          width: 314px;
          height: 101px;
        .message {
          font-size: 30px;
          color: #000;
          margin: 30px 23px;
        }
      }
    }
  }
  .modal-body {
    padding: 0 20px;
    min-height: 30px;
    margin-top: 160px;

    .achievement-panel {
      background: transparent url("/images/victory/victory_modal_shelf.png") no-repeat center 73px;
      width: 824px;
      height: 127px;
      margin: 0px -37px 0px -57px;
      padding-top: 20px;
      position: relative;
      -webkit-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-filter: grayscale(100%) brightness(75%);
      -moz-filter: grayscale(100%) brightness(75%);
      -o-filter: grayscale(100%) brightness(75%);
      filter: grayscale(100%) brightness(75%);
      &.earned {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none;
        .achievement-description {
          opacity: 1;
          filter: alpha(opacity=100);
        }
      }
    }
  }
  .achievement-description {
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 95px;
    right: 98px;
    top: 86px;
    color: #fcc935;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .achievement-rewards {
    position: absolute;
    left: 25px;
    right: 23px;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .reward-panel {
    background: url("/images/victory/reward_plate.png");
    width: 77px;
    height: 85px;
    float: left;
    margin: 0 1.8px;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    &.hero, &.item, &.xp, &.gems {
      background: url("/images/victory/reward_plate_wide.png");
      width: 120px;
      height: 83px;
      margin-top: 1px;
      .reward-image-container {
        left: 33px;
      }
    }
    &.hero {
      background: url("/images/victory/reward_plate_wide_premium.png");
      .reward-image-container {
        height: 49px;
      }
    }
    &.item.premium {
      .reward-border {
        height: 100%;
        background: url("/images/victory/reward_plate_wide_premium.png");
      }
      .reward-image-container {
        top: -77px;
        left: 36px;
      }
    }
    .reward-image-container {
      top: 8px;
      left: 11px;
      height: 55px;
      width: 56px;
      position: relative;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      &.show {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      img {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 56px;
        max-height: 55px;
      }
    }
    .reward-text {
       position: absolute;
       bottom: 6px;
       left: 4px;
       right: 3px;
       height: 15px;
       text-align: center;
       color: white;
       font-weight: bold;
       font-size: 12px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }
    .subscribe-text {
      position: absolute;
      bottom: 84px;
      left: 4px;
      right: 3px;
      height: 15px;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  #totals {
    width: 709px;
    height: 96px;
    background: transparent url(/images/victory/xp_gems_parchment.png);
    position: relative;
    text-align: left;
    margin-bottom: 10px;
    .total-wrapper {
      position: absolute;
      top: 18px;
      &#xp-wrapper {
        left: 117px;
        width: 300px;
      }
      &#gem-wrapper {
        left: 529px;
      }
      &#gem-wrapper .total-label {
        width: 90px;
      }
      .total-count {
        float: left;
        font-size: 37px;
        font-weight: bold;
        color: #282116;
        margin-right: 12px;
        width: 78px;
        margin-top: 10px;
        &.four-digits {
          font-size: 40px;
          margin-top: 3px;
        }
        &.five-digits {
          font-size: 30px;
          margin-top: 10px;
        }
      }
      .total-label {
        float: left;
        color: #675c4c;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        margin-top: 13px;
        line-height: 18px;
      }
      .xp-bar-outer {
        background-color: #282116;
        border: 4px solid #282116;
        border-radius: 8px;
        width: 200px;
        height: 16px;
        margin-top: 3px;
        position: relative;
        float: left;
        .xp-bar-already-achieved {
          background-color: #a6d558;
          border-radius: 8px;
          height: 100%;
          position: absolute;
          z-index: 1;
        }
        .xp-bar-total {
          background-color: #fdab2d;
          border: 1px solid #efb149;
          border-radius: 8px;
          height: 90%;
          position: absolute;
        }
      }
    }
  }
  .modal-footer {
    margin: 0 0 -80px 0;
    padding: 0 20px;
    text-align: center;
    //position: absolute;
    bottom: 0;
  }
  #victory-text {
    z-index: 1;
    text-align: center;
    padding: 30px 13px 0 13px;
    margin-bottom: 35px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0px 0, black 0px -2px 0, black -2px 0px 0, black 0px 2px 0;
  }
  .level-feedback {
    height: 20px;
  }
  .level-title {
    z-index: 1;
    margin: 10px;
    font-size: 24px;
    color: #fcc935;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0px 0, black 0px -2px 0, black -2px 0px 0, black 0px 2px 0;
  }
  .level-name {
    z-index: 1;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: black 2px 2px 0, black -2px -2px 0, black 2px -2px 0, black -2px 2px 0, black 2px 0px 0, black 0px -2px 0, black -2px 0px 0, black 0px 2px 0;
  }


}
@-webkit-keyframes rewardPulse {
  from {
    max-width: 56px;
    max-height: 55px; }
  50% {
    width: 66px;
    max-width: 66px;
    max-height: 66px; }
  to {
    max-width: 56px;
    max-height: 55px; }
}

@-moz-keyframes rewardPulse {
  from {
    max-width: 56px;
    max-height: 55px; }
  50% {
    width: 66px;
    max-width: 66px;
    max-height: 66px; }
  to {
    max-width: 56px;
    max-height: 55px; }
}

@-ms-keyframes rewardPulse {
  from {
    max-width: 56px;
    max-height: 55px;
  }
  50% {
    width: 66px;
    max-width: 66px;
    max-height: 66px;
  }
  to {
    max-width: 56px;
    max-height: 55px;
  }
}

@-o-keyframes rewardPulse {
  from {
    max-width: 56px;
    max-height: 55px; }
  50% {
    width: 66px;
    max-width: 66px;
    max-height: 66px; }
  to {
    max-width: 56px;
    max-height: 55px; }
}

@keyframes rewardPulse {
  from {
    max-width: 56px;
    max-height: 55px; }
  50% {
    width: 66px;
    max-width: 66px;
    max-height: 66px; }
  to {
    max-width: 56px;
    max-height: 55px; }
}

.victoryDialog {
  .xp .pulse {
    -webkit-animation: rewardPulse 0.15s infinite;
    animation: rewardPulse 0.15s infinite;
  }

  .gems .pulse {
    -webkit-animation: rewardPulse 0.25s infinite;
    animation: rewardPulse 0.25s infinite;
  }
}

.editor {
  margin: 20px;
  color: #ff9f00;

  //grid-gap: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px auto 100px;
  grid-template-areas:
    "editortitle  editortitle"
    "mapeditor saveeditor"
    "footer  footer";
  min-height: 100vh;
  p {
    margin: 10px 0;
  }
}

.editortitle {
  grid-area: editortitle;
  //background-color: green;
}
.footer {
  grid-area: footer;
  //background-color: purple;
}
.mapeditor {
  grid-area: mapeditor;
  //background-color: blue;
}
.saveeditor {
  grid-area: saveeditor;
  //background-color: yellow;
}
