<div class="editor">
  <div class="editortitle">
    <h1>Editors</h1>
  </div>

  <div class="mapeditor">
    <h3>Map</h3>
    <label for="maparraytextarea">Wesnoth Input:</label>
    <p>
      <Textarea @id="maparraytextarea" rows=20 cols=80 @value={{this.mapText}} />
    </p>
    <p class="btn-wrapper">
      <button class="btn style btn-primary" {{on "click" this.generateHexes}}>Generate Hex Models</button>
    </p>
    <label for="maparrayteoutputtextareaxtarea">EmberQuest Output:</label>
    <p>
      <Textarea @id="outputtextarea" rows=20 cols=80 @value={{this.finalMap}} />
    </p>
  </div>


  <div class="saveeditor">
    <h3>Saved Game</h3>
    <button class="btn style btn-primary" {{on "click" this.loadCurrentGameData}}>Load Current Game Data</button>
    <p>
      <Textarea rows=20 cols=80 @id="currentgamedata" />
    </p>
  </div>


  <div class="footer">
    <div></div>
  </div>
</div>
