<div class="instructionsDialog">
  <h2 class="title title-text">Thank You</h2>
  <div class="btn close-btn-x" {{on "click" (fn @close true)}}>X</div>
  <div class="body">

  </div>
  <div class="footer">
    <button class="btn styled btn-primary" type="button" {{on "click" (fn @close true)}}>Close</button>
  </div>
</div>

