<div class="instructions">
  <h3>What is EmberQuest?</h3>
  <p class="p1">
    EmberQuest is a series of geocache puzzles all rolled up into one "game."
    Hidden throughout the game, 30 chests are waiting to be discovered.
    When you find a chest, you will be given the real-life GPS coordinates to the cache locations.
    Some chests will be easy to find while others will require more effort.
    During your adventures, your avatar will encounter many challenges you need to overcome, such as puzzles and "monsters."
  </p>

  <h4>Your Avatar</h4>

    <img class="avatar" src="/images/help/avatar.png" />

    <p>

      Here is an image of your in-game Avatar. The green bar represents your current health. It will turn red when your health falls below 25%.
      The blue bar is your current energy. Different tasks require different amounts of energy. For example, it will be more difficult to move through a swamp than walking on a path. Wielding a large, heavy sword will be harder than using a light dagger.
      Both of these values will recover over time.
  </p>

  <h4>Moving your Avatar</h4>
  <p>
  <div class="padBottom10">EmberQuest uses hexagons to form the map so there are six directions you may move; North, South, North-East, South-West, North-West, and South-East.</div>
  <div class="padBottom10">To move, use the Q, W, E, A, S, and D keys on your keyboard. Different terrains will be easier to move through than others; some are impassable or require special equipment to travel through.</div>
  <div class="padBottom10">Your travels will take you over land and sea. Sea travel will require a ship or boat. You may only embark and disembark these transports from docks that you will find located at various locations on the map.</div>
  <div class="padBottom10">To embark from the dock, simply move your avatar onto the ship. After you have boarded, you may move over the sea using the same keyboard keys.</div>
  </p>

  <h4>Engaging Enemies</h4>
  <p>
    <div class="padBottom10">Use the mouse to attack "enemies" by clicking on them if they are in range.</div>
  </p>

  <h4>Top Navigation and Menu Bar</h4>

  <p>At the top of the game, several items show current information and options.</p>

  <section>
    <div class="icon">
      <div class="xp-wrapper">
        <span class="xp xp-30"></span>
        <div class="xp-bar">
          <div class="level">
            Level 3
          </div>
          <div class="xp-bar-outer">
            <div class="xp-bar-total" style="width: 42%;"></div>
            <div class="xp-bar-percent">42%</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text">
      This is your avatar's experience progress bar. It shows you how far along you are in your current level. You gain experience by overcoming various monsters.
    </div>
  </section>

  <section>
    <div class="icon">
      <div class="gem-wrapper">
        <span class="gem gem-30"></span>
        <span class="gems-count">1337</span>
      </div>
    </div>
    <div class="text">
      Your current wealth is displayed here. Use your money to buy and then equip different weapons and armor for your character.
    </div>
  </section>

  <section>
    <div class="icon small">
      <button type="button" class="btn inventory"></button>
    </div>
    <div class="text">
      What equipment you are using at the moment is listed here. You can also purchase additional equipment. See the Inventory section below for more information.
    </div>
  </section>

  <section>
    <div class="icon small">
      <button type="button" class="btn trophy"></button>
    </div>
    <div class="text">
      All geocaches in the series will be listed in this area.
    </div>
  </section>

  <section>
    <div class="icon small">
      <button type="button" class="btn messages"></button>
    </div>
    <div class="text">
      During the game, there will be numerous messages displayed to you. This board will list the history of those messages for you to review.
    </div>
  </section>

  <section>
    <div class="icon small">
      <button type="button" class="btn settings"></button>
    </div>
    <div class="text">
      Simple game controls and this help text can be found here.
    </div>
  </section>

  <section>
    <div class="icon small">
      <button type="button" class="btn empty volume" >
        <div class="glyphicon glyphicon-volume-up"></div>
      </button>
    </div>
    <div class="text">
      Toggle sound with this button.
    </div>
  </section>

  <section>
    <h3>Inventory</h3>
    <div>
      Opening the inventory panel will show you what equipment your character is currently using and options for getting more advanced gear.
    </div>
    <h4>Equipped Gear</h4>
    <div>There are 10 different locations that you are allowed to equip an item from in your inventory: Head, Neck, Body, Fingers, Gloves, Arms, Left Hand, Right Hand, Feet, and a Ranged Weapon.</div>

    <img class="doll" src="/images/help/doll.png" />

    <h4>Current Stats</h4>
    <div>
      When you equip different items, your game stats will change. Some of the stats are based on your current level and will grow as your character develops. All stats are affected by your currently-equipped gear collectively. A piece of equipment may contribute to more than one statistic.
    </div>
    <div class="stats">
      <div class="stat-wrap"><div class="stat">Health:</div>        <div class="desc">This is how much damage your character can withstand. It is a combination of your base health and any bonuses gained from your equipped gear.</div></div>
      <div class="stat-wrap"><div class="stat">Max Power:</div>     <div class="desc">Your maximum energy level. It's your base power plus equipment bonuses.</div></div>
      <div class="stat-wrap"><div class="stat">Melee Attack:</div>  <div class="desc">Maximum close-range damage you can affect on your adversaries.</div></div>
      <div class="stat-wrap"><div class="stat">Ranged Attack:</div> <div class="desc">Maximum damage from your ranged weapon.</div></div>
      <div class="stat-wrap"><div class="stat">Attack Speed:</div>  <div class="desc">This is how much time you must wait between attack attempts. A number under 1 is faster, greater than 1 is slower.</div></div>
      <div class="stat-wrap"><div class="stat">Move Speed:</div>    <div class="desc">The time delay between moving to another space on the map. Less than 1 is faster.</div></div>
      <div class="stat-wrap"><div class="stat">Healing Speed:</div> <div class="desc">You are constantly healing up to your max health. This figure is how much delay is between each health increase.</div></div>
      <div class="stat-wrap"><div class="stat">Healing Power:</div> <div class="desc">The amount of health your character will regain each time while healing.</div></div>
    </div>
    <div>
      <b>Note:</b> There may be other statistics displayed here based on your equipped gear.
    </div>

    <h4>Buying and Using Equipment</h4>
    <div class="padBottom10">
      The items available are organized by Weapons, Armor, and Other. When you select an item on the left side, a more detailed description will be displayed on the right. It will show you the stats that item affects.
    </div>
    <div class="padBottom10">
      If you have enough money to purchase an item, click on the "Buy" button. To confirm the purchase, click the "Confirm" button. After you have purchased the items, they remain in your inventory for the remainder of the game.
    </div>
    <div class="padBottom10">
      To use an item, click the "Equip" button. If you already have an item equipped for that particular spot, it will ask you if you would like to swap the items.
    </div>
  </section>

</div>
