<div class="victoryDialog">
  <div class="background_wrapper">
    <div class="btn close-btn-x" {{on "click" (fn @close true)}}>X</div>

    <div class="modal-content">
    <div class="modal-header">
      <div id="victory-header" class="">
        <div id="victory-title"><img src="/images/victory/victory_word.png" draggable="false"></div>
      </div>
    </div>
    <div class="modal-body">

      <div id="victory-text-bg">
        <div class="victory-text-wrapper">
          <div class="title">Congratulations!</div>
          <p>You have found all the geocache chests in EmberQuest!</p>
          <p>I hope you enjoyed playing the online portion and finding the physical caches.</p>
          <p>I would love to hear any feedback you may have about the game.</p>
          <p>If you would like to add a favorite point, please add it to GC8QAYM, EmberQuest #1 - Castle Storeroom.  Thanks!</p>
          <p class="text-center"><img src="/images/hr.png" class="hr"></p>
          <p>Game Statistics</p>
          <div class="stat">
            <div class="label">Number of times your avatar died:</div>
            <div class="val">{{this.game.gameManager.deathCount}}</div>
          </div>
          <div class="stat">
            <div class="label">Number of enemies vanquished:</div>
            <div class="val">{{this.game.gameManager.killCount}}</div>
          </div>

        </div>
      </div>


    </div>



    <div class="modal-footer">
      <div class="next-level-buttons">
        <button class="btn styled btn-green" type="button" {{on "click" (fn @close true)}}>Continue</button>
      </div>
    </div>
  </div>
  </div>
</div>
