<!-- used to make images for cache pages  -->
<div class="landing">

  <img src="/images/emberquestlogo.png" class="logo" />

  <div class="instructions-wrapper-top"></div>
  <div class="instructions-wrapper-middle">
    <div class="instructions">
      <h3>What is EmberQuest?</h3>
      <p class="p1">
        EmberQuest is a series of geocache puzzles all rolled up into one "game".
        Hidden throughout the game, there are 30 chests waiting to be discovered.
        When you find a chest, you will be given the real life GPS coordinates to the cache locations.
        Some chests will be easy to find while others will require more effort to find them.
        During your adventures, your avatar will encounter many challenges you need to overcome such as puzzles and "monsters".
      </p>

    </div>
  </div>
  <div class="instructions-wrapper-bottom"></div>

</div>

