<div class="landing">

    <img src="/images/emberquestlogo.png" class="logo" />


  <p class="intro">
      This is a <a href="https://geocaching.com" target="_geocaching">GeoCaching</a> puzzle game written with the EmberJS JavaScript framework.
    </p>
    <p class="intro">
      <LinkTo @route="play">Click here to play</LinkTo>
    </p>
    <p class="intro nowrap">
      Read the first puzzle in the series at <a href="https://www.geocaching.com/geocache/GC8QAYM_emberquest-1-castle-storeroom">geocaching.com/geocache/GC8QAYM</a>
    </p>
    <p class="intro nowrap">
      Written by GeoCacher TeamMonroes
    </p>
    <div class="instructions-wrapper-top">
    </div>
    <div class="instructions-wrapper-middle">
      <Instructions />
    </div>
    <div class="instructions-wrapper-bottom">
    </div>
    <p class="intro">
      <LinkTo @route="play">Click here to play</LinkTo>
    </p>

</div>

