<div class="landing">

    <img src="/images/emberquestlogo.png" class="logo" />


  <p class="intro">
      This is a <a href="https://geocaching.com" target="_geocaching">GeoCaching</a> puzzle game written with <a href="https://emberjs.com/" target="_ember">EmberJS</a>.
    </p>
    <p class="intro">
      <LinkTo @route="play">Click here to play</LinkTo>
    </p>
    <p class="intro">
      Written by GeoCacher <div class="author">TeamMonroes</div>
    </p>
    <div class="instructions-wrapper-top">
    </div>
    <div class="instructions-wrapper-middle">
      <Instructions />
    </div>
    <div class="instructions-wrapper-bottom">
    </div>
    <p class="intro">
      <LinkTo @route="play">Click here to play</LinkTo>
    </p>

</div>

